.Members {
    background-color: #f0f2f5;
}

.Members__photo {
    padding: 2em;
    padding-bottom: 0;
    text-align: center;
}

.Members__photo img {
    max-height: 25em;
    max-width: 100%;
}

.Members__content {
    max-width: 1280px;
    margin: auto;
    padding: 2em;
    background-color: #fff;
}