.ParentsSection
{
    background-color: #f8f8f8;
    padding: 2rem 5vw;
}

.ParentsSection h1
{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.PartnerElement a img
{
    margin: auto;
    opacity: 1;
    transition: 0.3s;
}

.PartnerElement > a > img
{
    max-width: 250px;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}   

.PartnerWrapper
{
    margin: auto;
}

/* Hoover */

.PartnerElement a img:hover
{
    opacity: 0.6;
}

/* Śmieci */
/* .PartnersWrapper
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    margin: 0 auto;

} */
/* @media only screen and (min-width: 1602px)
{
    .PartnersWrapper
    {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        
    }   
} */

/* @media only screen and (max-width: 550px)
{
    .PartnerElement > a > img
    {
        max-width: 150px;
    }   
    .PartnersWrapper
    {
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
} */