.HomeSection {
    background-repeat: no-repeat;
    background-size: cover;
}

.HomeSectionWrapper {
    height: 100vh;
    padding: 0;
    position: relative;
}

.HomeSectionTitle {
    color: white;
    font-size: 10vh;
    text-align: center;
    font-weight: 600;
}

.HomeSectionDescription {
    color: white;
    text-align: center;
    font-weight: 200;
}

.HomeSectionText {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: gradientIn .7s 1;
    mask-size: 100% 300%;
    mask-image: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(9,9,121,0) 58%, rgba(0,212,255,0) 100%);
    mask-origin: content;
    mask-position: center bottom;
}

@keyframes gradientIn {
    0% {
        mask-position: center top;
    }
    100% {
        mask-position: center bottom;
    }
}

@media (max-width: 480px) {
    .HomeSectionTitle {
        font-size: 20vw;
    }
    .HomeSectionDescription {
        max-width: 90vw;
    }
    .HomeSectionText {
        width: 90vw;
    }
}

.balloon-image {
    animation: subtle-balloon-move 20s 1 ease-in-out;
    animation-iteration-count: infinite;
    width: 200px;
    position: absolute;
    top: 25vh;
    left: 10%;
}

@media only screen and (max-width: 1200px) {
    .balloon-image {
        left: 0;
    }
}

@media only screen and (max-width: 900px) {
    .balloon-image {
        left: 5%;
        width: 100px;
        top: 80vh;
    }
}

@media only screen and (min-width: 1800px) {
    .HomeSectionDescription, .MissionStateWrapper, .MisssionStateDescription {
        font-size: 20px;
    }
}

@keyframes subtle-balloon-move {
    0% {
        transform: translate(0, 0) rotate(2deg);
    }
    50% {
        transform: translate(20%, 0) rotate(-2deg);
    }
    100% {
        transform: translate(0, 0) rotate(2deg);
    }
}

.clouds-background {
    height: 150px;
    width: 100%;
    background-repeat: repeat;
    background-position: 0 center;
    background-size: auto 150px;
    animation: clouds-move 200s 1 linear;
    animation-iteration-count: infinite;
}

@keyframes clouds-move {
    0% {
        background-position: 0 center;
    }
    100% {
        background-position: 100% center;
    }
}