.NumberComponent {
    padding: 0.5em;
    height: 100%;
    color: white;
}

.NumberIcon {
    color: ghostwhite;
    font-size: 2em;
    text-align: center;
}

.NumberValue {
    font-size: 1.4em;
}

.NumberMainText {
    font-size: 1.1em;
}

.NumberSecondaryText {
    color: antiquewhite;
}