.NumberComponent {
    background-color: rgb(236, 236, 236);
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0 0.5em;
    height: 100%;
    color: #333333;
}

.NumberIcon {
    color: darkblue;
    font-size: 2em;
    text-align: center;
}

.NumberValue {
    font-size: 1.4em;
}

.NumberMainText {
    font-size: 1.1em;
}

.NumberSecondaryText {
    color: #555;
}